{% extends '@AcmeMy/Default/layout.html.twig'%}
{% block content %}
    <div class="block">
        <h2>{{ test|capitalize }}</h2>
        <address>
                <b><span>It's my work!</span></b><br>
                <b>
                   <span>email:</span>
                    <a href="mailto:Alexey.panteleychuk@gmail.com">{{ email|reverse|title }}</a>
                </b>
        </address>
    </div>

    {% autoescape 'html' %}
        {% set num = '<strong>1</strong>' %}
        {{ number|raw }} - using filter |raw <br/>
        {{ html }}
    {% endautoescape %}

    {% set code = '<code>echo $i;</code>' %}
    {% if code is defined %}
        <h3>Code behind this page</h3>
        <div class="symfony-content">{{ code|raw }}</div>
    {% endif %}
{% endblock %}


